.stepIcon {
    display: flex;
    position: relative;
    top: 4rem;
    left: -0.5rem;
    background: #a5c2ae;
    border-radius: 0.6rem;
    font-size: 1.6rem;
    color: #ffffff;
    align-items: center;
    justify-content: center;
}

.stepInfo {
    width: 20rem;
    height: 21rem;
    z-index: 1;
}