div {
    flex-direction: row;
    display: inline-flex;
    margin: 50px;
    min-height: 200px;
}

a {
    display: inline-block;
    text-align: center;
    min-height: 200px;
    margin-top: 20px;
}

.center-item {
    margin-left: 20px;
    margin-right: 20px;
}

.start-item {
    margin-right: 20px;
}

.end-item {
    margin-left: 20px;
}

.center-item img, .end-item img{
    width: 80px;
    margin-top: 7px;
    height: 80px;
    margin-bottom: 5px;
}