<div>
  <a class='start-item' (click)="downloadFile('docx')">
    <img src="assets/icons-ms-word-96.png" /><br />
    <i nz-icon nzType="download"></i>
    Download Indicators Word<br />
    (EU format)
  </a>
  <a class='center-item' (click)="downloadFile('prm')">
    <img src="assets/icons-ms-word-96.png" alt="Microsoft Word Logo"/><br />
    <em nz-icon nzType="download"></em>
    Download Indicators Word<br />
    (PRM format)
  </a>
  <a class='center-item' (click)="downloadFile('xlsx')">
    <img src="assets/icons-microsoft-excel-2019-96.png" /><br />
    <i nz-icon nzType="download"></i>
    Download Indicators Excel<br />
  </a>
  <a class='center-item' (click)="downloadFile('dfid')">
    <img src="assets/icons-microsoft-excel-2019-96.png" alt="excel logo"/><br />
    <em nz-icon nzType="download"></em>
    Download Indicators Excel<br />
    (DFID format)
  </a>
  <a class='center-item' (click)="downloadSvgAndPng('svg')">
    <img src="assets/icons-download-chart-svg.svg" /><br />
    <i nz-icon nzType="download"></i>
    Download Indicators SVG
  </a>
  <a class='end-item' (click)="downloadSvgAndPng('png')">
    <img src="assets/icons-download-chart-png.svg" /><br />
    <i nz-icon nzType="download"></i>
    Download Indicators PNG
  </a>
</div>