<div nz-col nzSpan="22" nzOffset="1">
  <div nz-col style="margin-bottom: 30px; margin-top: 50px;">
    <button
      nz-button
      (click)="create()"
      nzType="primary"
      [disabled]="displayCrudModal"
      nzSize="default"
    >
      Add Indicator
    </button>

    <button
      nz-button
      (click)="fetchByFilters()"
      nzType="link"
      nzSize="default"
      style="position: absolute; right: 0;"
    >
      Filter
    </button>
  </div>

  <nz-table
    #indicators
    nzShowSizeChanger
    nzBordered
    [nzData]="indicatorList"
    [nzFrontPagination]="false"
    [nzLoading]="isLoading"
    [nzTotal]="totalRowCount"
    [(nzPageIndex)]="page"
    [(nzPageSize)]="pageSize"
    (nzPageSizeChange)="search(true, false)"
    (nzPageIndexChange)="search(false, false)"
    nzSize="small"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th
          nzShowFilter
          [nzFilters]="levelFilter"
          (nzFilterChange)="addFilter('levelIds', $event)"
        >
          Level
        </th>
        <th
          nzShowFilter
          [nzFilters]="themeFilter"
          (nzFilterChange)="addFilter('themes', $event)"
        >
          Thematic Area
        </th>
        <th>Keywords</th>
        <th>Indicator</th>
        <th>Description</th>
        <th
          nzShowFilter
          [nzFilters]="sourceFilter"
          (nzFilterChange)="addFilter('source', $event)"
        >
          Source
        </th>
        <th>Disaggregation</th>
        <th
          nzShowFilter
          [nzFilters]="crsCodeFilter"
          (nzFilterChange)="addFilter('crsCode', $event)"
        >
          DAC 5/CRS
        </th>
        <th
          nzShowFilter
          [nzFilters]="sdgCodeFilter"
          (nzFilterChange)="addFilter('sdgCode', $event)"
        >
          SDG
        </th>
        <th>Source of Verification</th>
        <th>Data Source</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ind of indicators.data">
        <td>{{ ind.id }}</td>
        <td>{{ ind.level.name }}</td>
        <td>{{ ind.themes }}</td>
        <td>{{ ind.keywords }}</td>
        <td>{{ ind.description }}</td>
        <td>{{ printArray(ind.source, 'name') }}</td>
        <td>{{ ind.disaggregation }}</td>
        <td>{{ printArray(ind.crsCode, 'name') }}</td>
        <td>{{ printArray(ind.sdgCode, 'name') }}</td>
        <td>{{ ind.sourceVerification }}</td>
        <td>{{ ind.dataSource }}</td>
        <!-- <td>{{ ind.name }}</td> -->
        <td>
          <div>
            <div nz-row><a (click)="edit(ind)">Edit</a></div>
            <div nz-row><a (click)="delete(ind)">Remove</a></div>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<app-crud-indicator
  (hideCrudModal)="hideCrudModal($event)"
  (indicatorAdded)="refreshIndicatorList()"
  (indicatorDeleted)="refreshIndicatorList()"
  (indicatorUpdated)="refreshIndicatorList()"
  [operation]="operation"
  [indicatorForOperation]="indicator"
  [displayCrudModal]="displayCrudModal"
>
</app-crud-indicator>
