<div style="display: inline;">
    <div class="left-chart-name" >
        <div class="level-1">
            Impact
        </div>
        <div class="level-2">
            Outcomes
        </div>
        <div class="level-3">
            Output
        </div>
    </div>
    <div class="draw2d" [style.height]="height" [style.width]="width">
        <div onselectstart="javascript:/*IE8 hack*/return false" id="gfx_holder" style="width:3000px; height:3000px;position: absolute;left: 0;"></div>
    </div>
</div>


