body{
  margin:0px;
}
.draw2d{
  position: relative;
  overflow: scroll;
  float: right;
}

.left-chart-name {
  float: left;
  width:100px;
  padding-left: 35px;
}
.left-chart-name div{
  font-size:16px;
  font-weight: 500;
}
.left-chart-name .level-1{
  margin-top: 30px;
}

.left-chart-name .level-2{
  margin-top: 60px;
}

.left-chart-name .level-3{
  margin-top: 70px;
}