#dynamicTable {
  .row-checked {
    background-color: #A5C2AE;
  }
}
.indicatorContent{
  background-color: rgba(242, 242, 242, 0.7);
  //border: .25rem dashed #C6C6C5;
}
.warning{
  position: relative;
  width: 100%;
  z-index: 100;
}

#selectionButton {
  background: unset;
  border: none;
  width: 40px;
  position: relative;
  bottom: 55px;
  // left: -450px;
  z-index: 1000;
  i {
    font-size: 2.5rem;
  }
}

.red-color {
  color: red;
}

#footerBar {
  background-color: rgba(69, 52, 87, 0.85);
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 1000;

  p {
    color: white;
    margin-left: 35px;
    margin-right: 10px;
    font-weight: bolder;
  }
  p, nz-tag {
    float: left;
  }

  > * {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

#showAllButton {
  float: right;
  margin-right: 10%;
  color: white;
  background-color: unset;
}

.propertiesCell {
  background-color: #A5C2AE;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

#baselineSpin {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}
#closeIcon {
  float: right;
  z-index: 999999999999999999;
  right: 20px;
  font-size: 1rem;
  padding-bottom: 20px;
  cursor: pointer;
  :hover {
    cursor: pointer;
  }
}