<div class="indicatorContent">
  <div class="warning">
    <nz-alert
      *ngIf="listOfData.length === 0 && !this.showLoading"
      nzType="warning"
      nzMessage="No indicators were found during the document scanning."
      nzShowIcon
      nzCloseable="true"
    >
    </nz-alert>

    <nz-alert
      *ngIf="
        this.impactCount === 0 ||
        this.outcomeCount === 0 ||
        this.outputCount === 0
      "
      nzType="info"
      nzMessage="It is recommended to have at least one indicator per level."
      nzShowIcon
      nzCloseable="true"
    >
    </nz-alert>

    <nz-alert
      *ngIf="this.impactCount > 3"
      nzType="info"
      nzMessage="It is recommended to have less than 4 indicators of the Impact level."
      nzShowIcon
      nzCloseable="true"
    >
    </nz-alert>

    <nz-alert
      *ngIf="this.outcomeCount > 5"
      nzType="info"
      nzMessage="It is recommended to have less than 6 indicators of the Outcome level."
      nzShowIcon
      nzCloseable="true"
    >
    </nz-alert>

    <nz-alert
      *ngIf="this.outputCount > 15"
      nzType="info"
      nzMessage="It is recommended to have less than 16 indicators of the Output level."
      nzShowIcon
      nzCloseable="true"
    >
    </nz-alert>

    <div style="position: relative">
      <input
        (input)="search(false)"
        nzSize="large"
        style="padding-right: 30px"
        type="text"
        nz-input
        placeholder="Search indicator"
        [(ngModel)]="searchValue"
      />
    </div>
    <nz-table
      #dynamicTable
      [nzData]="displayData"
      [nzPageSize]="100"
      [nzScroll]="{ y: '1000px' }"
      [nzLoading]="showLoading"
      [nzPageSizeOptions]="[50, 100, 150, 200]"
      [nzShowSizeChanger]="true"
      nzSize="middle"
      nzBordered
      id="dynamicTable"
    >
      <thead (nzSortOrderChange)="sort($event, false)">
        <!--TODO nzSingleSort-->
        <tr>
          <th nzWidth="3%"></th>
          <th nzWidth="3%"
          ></th>
          <th
            nzShowSort
            nzColumnKey="level"
            nz-popover
            nzPopoverTitle="Level"
            nzPopoverContent="These are the levels of the indicators."
            nzWidth="7%"
            nzShowFilter
            [nzFilters]="searchFilter.level"
            [nzFilterFn]="filterLevel"
          >
            Level
          </th>
          <th
            nz-popover
            nzPopoverTitle="Indicator"
            nzPopoverContent="The phrasing of the actual indicator. Some indicators may need to be further specified accordingly."
            style="font-weight: bold"
          >
            Indicator
          </th>

          <th
            nzShowSort
            nzColumnKey="source"
            nzWidth="10%"
            nz-popover
            nzPopoverTitle="Source"
            nzPopoverContent="Where the indicator comes from. Who has developed it."
            nzShowFilter
            [nzFilters]="searchFilter.source"
            [nzFilterFn]="filterSource"
          >
            Source
          </th>
          <th
            nzShowSort
            nzColumnKey="disaggregation"
            nz-popover
            nzPopoverTitle="Disaggregation"
            nzPopoverContent="If the indicator requires disaggregation. As a rule of thumb, whenever people are counted, there should a disaggregation (at least by sex)."
            nzWidth="12%"
            nzBreakWord
            nzShowFilter
            [nzFilters]="searchFilter.disaggregation"
            [nzFilterFn]="filterDisag"
          >
            Disaggregation
          </th>
          <th
            nzShowSort
            nzColumnKey="sector"
            nzWidth="15%"
            nz-popover
            nzPopoverTitle="Sector"
            nzPopoverContent="The sectors where the indicator is related to."
            nzBreakWord
            nzShowFilter
            [nzFilters]="searchFilter.sector"
            [nzFilterFn]="filterSector"
          >
            Sector
          </th>
          <th
            nzShowSort
            nzColumnKey="crsCode"
            nz-popover
            nzPopoverTitle="OECD DAC/CRD Code"
            nzPopoverContent="This is the three digit code referring to the CRS codes, another way to understand what the indicator is related to."
            nzWidth="10%"
            nzShowFilter
            [nzFilters]="searchFilter.crsCode"
            [nzFilterFn]="filterCRSCode"
          >
            OECD<br />DAC/CRS<br />Code
          </th>
          <th
            nzShowSort
            nzShowFilter
            nzColumnKey="sdgCode"
            nz-popover
            nzPopoverTitle="SDG Goal"
            nzPopoverContent="This is in relations to the 17 SDGs."
            nzWidth="15%"
            nzShowFilter
            [nzFilters]="searchFilter.sdgCode"
            [nzFilterFn]="filterSDGCode"
          >
            SDG Goal
          </th>
          <th
            nz-popover
            nzPopoverTitle="Score"
            nzPopoverContent="Quality of the indicator"
            nzWidth="10%"
            *ngIf="showScoreCol"
          >
            Score
            <nz-slider
              (nzOnAfterChange)="onAfterChange($event)"
              [nzTooltipVisible]="'default'"
              [nzRange]="true"
              [nzMin]="0"
              [nzMax]="100"
            ></nz-slider>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="dynamicTable.data">
          <tr
            (click)="selectIndicator(data)"
            [class.row-checked]="mapOfCheckedId[data.indicator.id]"
          >
          <td class="propertiesCell"
          nz-popover
          nzPopoverContent="Further information and options"
          (click)="showPropertiesModal(data)" 
          ><span class="propertiesButton"><i nz-icon nzType="solution"></i></span>
          </td>
          <!-- <td class="propertiesCell"
          nz-popover
          nzPopoverContent="Further information and options"
          (click)="showPropertiesModal(data)" 
          *ngIf="isWorldBankIndicator(data) || statementData.length > 0 || (data.indicator?.description!=null && data.indicator?.description!='')"
          ><span class="propertiesButton"><i nz-icon nzType="solution"></i></span>
          </td>
          <td *ngIf="!isWorldBankIndicator(data) && statementData.length == 0 &&
            (data.indicator?.description==null ||data.indicator?.description=='')"></td> -->
          <td
            nzShowCheckbox
            [nzChecked]="mapOfCheckedId[data.indicator.id]"
            (nzCheckedChange)="selectIndicator(data, $event)"
          >
        </td>
            <td>
              <nz-tag [nzColor]="data.colorLevel"
                >{{ data.indicator.level }}
              </nz-tag>
            </td>
            <td>{{ data.indicator.name }}</td>
            <td nzBreakWord>{{ printArray(data.indicator.source, 'name') }}</td>
            <td style="text-align: center">
              <div style="text-align: center">
                <i
                  *ngIf="!data.indicator.disaggregation"
                  style="font-size: 25px; color: rgb(216, 126, 126)"
                  nz-icon
                  nzType="close"
                  nzTheme="outline"
                ></i>
                <i
                  *ngIf="data.indicator.disaggregation"
                  style="font-size: 25px; color: #a5c2ae"
                  nz-icon
                  nzType="check"
                  nzTheme="outline"
                ></i>
              </div>
            </td>
            <td nzBreakWord>{{ data.indicator.sector }}</td>
            <td nzBreakWord>
              {{ printArray(data.indicator.crsCode, 'name') }}
            </td>
            <td
              nzBreakWord
              title="{{ printArray(data.indicator.sdgCode, 'name') }}"
              nzEllipsis
            >
              {{ printArray(data.indicator.sdgCode, 'name') }}
            </td>
            <td *ngIf="showScoreCol">{{ data.indicator.score }}</td>
          </tr>
          <tr [nzExpand]="expandSet.has(data.indicator.id)">
            <span>Country: </span>
            <nz-select style="margin-left: 5px;" nzShowSearch nzAllowClear (ngModelChange)="ngModelCountryChange(data, $event)" nzPlaceHolder="Select a country" [(ngModel)]="data.countryCodeSelected">
              <nz-option *ngFor="let country of countriesList" nzLabel="{{country.label}}" nzValue="{{country.code}}"></nz-option>
            </nz-select>
            <span style="margin-left: 5px;">Year: </span>
            <nz-year-picker style="margin-left: 5px;" (ngModelChange)="ngModelYearChange(data, $event)" [nzDisabledDate]="disabledDate" [(ngModel)]="data.yearSelected" nzPlaceHolder="Select year"></nz-year-picker>
            <span style="margin-left: 5px;">Baseline value: <strong>{{ data.baselineValue }}</strong></span>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
  </div>

  <!-- Selected items table -->
  <ng-template #contentTemplate>    
    <div class="warning">
      <i nz-icon nzType="close" id="closeIcon" (click)="isPopOverVisible=false"></i>
        <input
          (input)="search(true)"
          nzSize="large"
          style="padding-right: 30px"
          type="text"
          nz-input
          placeholder="Search selected indicator"
          [(ngModel)]="searchSelected"
        />
      <nz-table
        #selectedTable
        [nzData]="filteredSelectedIndicators"
        [nzPageSize]="filteredSelectedIndicators.length"
        [nzScroll]="{ y: '500px', x: '1000px'}"
        nzShowSizeChanger="false"
        nzSize="middle"
        nzBordered
      >
        <thead (nzSortOrderChange)="sort($event, true)">
          <!--TODO nzSingleSort-->
          <tr>
            <th
              nzShowSort
              nzColumnKey="level"
              nz-popover
              nzPopoverTitle="Level"
              nzPopoverContent="These are the levels of the indicators."
              nzWidth="7%"
              nzShowFilter
              [nzFilters]="searchFilter.level"
              [nzFilterFn]="filterLevel"
            >
              Level
            </th>
            <th
              nz-popover
              nzPopoverTitle="Indicator"
              nzPopoverContent="The phrasing of the actual indicator. Some indicators may need to be further specified accordingly."
              style="font-weight: bold"
            >
              Indicator
            </th>

            <th
              nzShowSort
              nzColumnKey="source"
              nzWidth="10%"
              nz-popover
              nzPopoverTitle="Source"
              nzPopoverContent="Where the indicator comes from. Who has developed it."
              nzShowFilter
              [nzFilters]="searchFilter.source"
              [nzFilterFn]="filterSource"
            >
              Source
            </th>
            <th
              nzShowSort
              nzColumnKey="sector"
              nzWidth="10%"
              nz-popover
              nzPopoverTitle="Sector"
              nzPopoverContent="The sectors where the indicator is related to."
              nzBreakWord
              nzShowFilter
              [nzFilters]="searchFilter.sector"
              [nzFilterFn]="filterSector"
            >
              Sector
            </th>
            <th
              nzShowSort
              nzShowFilter
              nzColumnKey="sdgCode"
              nz-popover
              nzPopoverTitle="SDG Goal"
              nzPopoverContent="This is in relations to the 17 SDGs."
              nzWidth="10%"
              nzShowFilter
              [nzFilters]="searchFilter.sdgCode"
              [nzFilterFn]="filterSDGCode"
            >
              SDG Goal
            </th>
            <th
              nz-popover
              nzPopoverTitle="Score"
              nzPopoverContent="Quality of the indicator."
              nzWidth="10%"
              *ngIf="showScoreCol"
            >
              Score
              <nz-slider
                (nzOnAfterChange)="onAfterChange($event)"
                [nzTooltipVisible]="'default'"
                [nzRange]="true"
                [nzMin]="0"
                [nzMax]="100"
              ></nz-slider>
            </th>
            <th>
              Result Statement
            </th>
            <th nzWidth="50px">
              <i
                nz-icon
                nzType="delete"
                nzTheme="outline"
                class="red-color"
              ></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="selectedTable.data">
            <tr>
              <td>
                <nz-tag [nzColor]="data.colorLevel">
                  {{ data.indicator.level }}
                </nz-tag>
              </td>
              <td>{{ data.indicator.name }}</td>
              <td nzBreakWord>
                {{ printArray(data.indicator.source, 'name') }}
              </td>
              <td nzBreakWord>{{ data.indicator.sector }}</td>
              <td title="{{ printArray(data.indicator.sdgCode, 'name') }}" nzBreakWord >
                {{ printArray(data.indicator.sdgCode, 'name') }}
              </td>
              <td *ngIf="showScoreCol">{{ data.indicator.score }}</td>
              <td *ngIf="data.statement">{{ data.statement.statement }}</td>
              <td *ngIf="!data.statement" (click)="showPropertiesModal(data)" class="show-pointer">No relation set up yet</td>
              <td (click)="removeSelectedIndicator(data)">
                <i
                  nz-icon
                  nzType="delete"
                  nzTheme="outline"
                  class="red-color"
                ></i>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table>
    </div>
  </ng-template>
</div>

<div id="footerBar" *ngIf="this.selectedIndicators.length != 0">
  <p style="margin-left: 13%;">IMPACT</p>
  <nz-tag [nzColor]="'#453457'">
    <strong>{{ impactCount }}</strong>
  </nz-tag>
  <p>OUTCOME</p>
  <nz-tag [nzColor]="'#6B3C53'">
    <strong>{{ outcomeCount }}</strong>
  </nz-tag>
  <p>OUTPUT</p>
  <nz-tag [nzColor]="'#637743'">
    <strong>{{ outputCount }}</strong>
  </nz-tag>
  <p>TOTAL</p>
  <nz-tag [nzColor]="'black'">
    <strong>{{ impactCount+outcomeCount+outputCount }}</strong>
  </nz-tag>
  <button nz-button id="showAllButton"
    nz-popover
    [(nzPopoverVisible)]="isPopOverVisible"
    [nzPopoverContent]="contentTemplate"
    nzPopoverTrigger="click"
    nzPopoverPlacement="topRight">
    show all
  </button>
</div>

<nz-modal [(nzVisible)]="isPropertiesModalActive" nzTitle="Further information and options" (nzOnCancel)="isPropertiesModalActive = false" (nzOnOk)="propertiesModalOkHandle()" nzWidth="90vw">
  <h3>
    <strong>Indicator</strong>
  </h3>
  <p>{{activeItem.indicator?.name}}</p>
  <div *ngIf="activeItem.indicator?.description != null && activeItem.indicator?.description != ''">
    <h3>
      <strong>Description</strong>
    </h3>
    <p>{{activeItem.indicator.description}}</p>
  </div>

  <div style="width: 100%; display: flex; justify-content: space-between;">
    <div *ngIf="isWorldBankIndicator(activeItem)" style="width: 900px;">
      <h3>
        <strong>Baseline Value</strong>
      </h3>
      <span>Country: </span>
      <nz-select style="margin-left: 5px; min-width: 200px;" nzShowSearch nzAllowClear (ngModelChange)="ngModelCountryChange(activeItem, $event)" nzPlaceHolder="Select a country" [(ngModel)]="activeItem.countryCodeSelected">
        <nz-option *ngFor="let country of countriesList" nzLabel="{{country.label}}" nzValue="{{country.code}}"></nz-option>
      </nz-select>
      <span style="margin-left: 5px;">Year: </span>
      <nz-year-picker style="margin-left: 5px;" (ngModelChange)="ngModelYearChange(activeItem, $event)" [nzDisabledDate]="disabledDate" [(ngModel)]="activeItem.yearSelected" nzPlaceHolder="Select year"></nz-year-picker>
      <button nz-button nzType="primary" (click)="getLatestBaselineValue()" id="baselineLatest" [disabled]="!activeItem.countryCodeSelected">SELECT LATEST</button>
      <nz-spin nzSimple *ngIf="showLoadingBaseline" id="baselineSpin"></nz-spin>
      <span style="margin-left: 5px;">Baseline value:
        <strong>{{ activeItem.baselineValue }}</strong>
      </span>
    </div>

    <div *ngIf="!isWorldBankIndicator(activeItem)" style="width: 900px;">
      <h3>
        <strong>Baseline Value</strong>
      </h3>
      <span>Year: </span>
      <nz-year-picker style="margin-left: 5px;" [(ngModel)]="activeItem.yearSelected" [nzDisabledDate]="disabledDate" nzPlaceHolder="Select year"></nz-year-picker>
      <span style="margin-left: 5px;">Baseline value:</span>
      <input nz-input placeholder="Baseline value" [(ngModel)]="activeItem.baselineValue" id="baselineInput">
    </div>
    
    <div style="width: 650px;">
      <h3>
        <strong>
          <Tbody>Target Value</Tbody>
        </strong>
      </h3>
      <span>Target Year: </span>
      <nz-year-picker style="margin-left: 5px; min-width: 170px;" [(ngModel)]="activeItem.targetDate" [nzDisabledDate]="disabledDate" nzPlaceHolder="Select target year"></nz-year-picker>
      <span style="margin-left: 5px;">Target value:</span>
      <input style="max-width: 200px; margin-left: 5px;" nz-input placeholder="Target value" [(ngModel)]="activeItem.targetValue" id="targetValueInput">
    </div>
  </div>
  
  <h3>
    <strong>Statements</strong>
  </h3>

  <nz-table
    #statementTable
    [nzData]="this.statementData"
    [nzPageSize]="this.statementData.length"
    nzShowPagination="false"
    nzShowSizeChanger="false"
    nzSize="middle"
    nzBordered
  >
    <thead>
      <tr>
        <th nzWidth="3%"></th>
        <th nzWidth="7%">
          Level
        </th>
        <th style="font-weight: bold;">
          Statement
        </th>
        <th nzWidth="5%">
          Status
        </th>
        <th nzWidth="5%">
          Score
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="statementTable.data" let-index="index">
        <tr>
          <td
            nzShowCheckbox
            [nzChecked]="this.mapOfCheckedStatementsId[data.id]"
            (nzCheckedChange)="selectStatement(data, $event)"
          >
          <td>
            <nz-tag [nzColor]="data.colorLevel">{{ data.level }} </nz-tag>
          </td>
          <td>
            {{ data.statement }}
          </td>
          <td>
            <nz-tag [nzColor]="data.statusColor">
              {{ data.status }}
            </nz-tag>
          </td>
          <td> 
            {{data.score}}%
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</nz-modal>
