<div class="indicatorContent">
  <div class="warning">
    <nz-alert
      *ngIf="listOfData.length === 0"
      nzType="warning"
      nzMessage="No indicators were found during the document scanning."
      nzShowIcon
      nzCloseable="true"
    >
    </nz-alert>

    <nz-alert
      *ngIf="
        this.impactCount === 0 ||
        this.outcomeCount === 0 ||
        this.outputCount === 0
      "
      nzType="info"
      nzMessage="It is recommended to have at least one indicator per level."
      nzShowIcon
      nzCloseable="true"
    >
    </nz-alert>

    <nz-alert
      *ngIf="this.impactCount > 3"
      nzType="info"
      nzMessage="It is recommended to have less than 4 indicators of the Impact level."
      nzShowIcon
      nzCloseable="true"
    >
    </nz-alert>

    <nz-alert
      *ngIf="this.outcomeCount > 5"
      nzType="info"
      nzMessage="It is recommended to have less than 6 indicators of the Outcome level."
      nzShowIcon
      nzCloseable="true"
    >
    </nz-alert>

    <nz-alert
      *ngIf="this.outputCount > 15"
      nzType="info"
      nzMessage="It is recommended to have less than 16 indicators of the Output level."
      nzShowIcon
      nzCloseable="true"
    >
    </nz-alert>

    <div style="position: relative;">
      <input
        (input)="search()"
        nzSize="large"
        style="padding-right: 30px;"
        type="text"
        nz-input
        placeholder="Search indicator"
        [(ngModel)]="searchValue"
      />
    </div>
    <div style="display: flex; flex-direction: row; margin: 10px;">
      <span
        >Total: {{ displayData.length }} - selected: Impact {{ impactCount }},
        Outcome {{ outcomeCount }}, Output {{ outputCount }}</span
      >
    </div>
    <nz-table
      #dynamicTable
      [nzData]="displayData"
      [nzPageSize]="displayData.length"
      [nzScroll]="{ y: '1000px' }"
      [nzLoading]="showLoading"
      nzShowPagination="false"
      nzShowSizeChanger="false"
      nzSize="middle"
      nzBordered
    >
      <thead (nzSortOrderChange)="sort($event)">
        <!--TODO nzSingleSort-->
        <tr>
          <th nzWidth="60px"></th>
          <th
            nzShowCheckbox
            [(nzChecked)]="isAllDisplayDataChecked"
            [nzIndeterminate]="isIndeterminate"
            (nzCheckedChange)="checkAll($event)"
            nzWidth="5%"
          ></th>
          <th
            nzShowSort
            nzColumnKey="level"
            nz-popover
            nzPopoverTitle="Level"
            nzPopoverContent="These are the levels of the indicators."
            nzWidth="10%"
            nzShowFilter
            [nzFilters]="searchFilter.level"
            [nzFilterFn]="filterLevel"
          >
            Level
          </th>
          <th
            nz-popover
            nzPopoverTitle="Indicator"
            nzPopoverContent="The phrasing of the actual indicator. Some indicators may need to be further specified accordingly."
            style="font-weight: bold;"
          >
            Indicator
          </th>

          <th
            nzShowSort
            nzColumnKey="source"
            nzWidth="10%"
            nz-popover
            nzPopoverTitle="Source"
            nzPopoverContent="Where the indicator comes from. Who has developed it."
            nzShowFilter
            [nzFilters]="searchFilter.source"
            [nzFilterFn]="filterSource"
          >
            Source
          </th>
          <th
            nzShowSort
            nzColumnKey="disaggregation"
            nz-popover
            nzPopoverTitle="Disaggregation"
            nzPopoverContent="If the indicator requires disaggregation. As a rule of thumb, whenever people are counted, there should a disaggregation (at least by sex)."
            nzWidth="10%"
            style="font-size: 10px;"
            nzBreakWord
            nzShowFilter
            [nzFilters]="searchFilter.disaggregation"
            [nzFilterFn]="filterDisag"
          >
            Disaggregation
          </th>
          <th
            nzShowSort
            nzColumnKey="sector"
            nzWidth="10%"
            nz-popover
            nzPopoverTitle="Thematic Area"
            nzPopoverContent="The sectors where the indicator is related to."
            nzBreakWord
            nzShowFilter
            [nzFilters]="searchFilter.sector"
            [nzFilterFn]="filterSector"
          >
            Thematic Area
          </th>
          <th
            nzShowSort
            nzColumnKey="crsCode"
            nz-popover
            nzPopoverTitle="OECD DAC/CRD Code"
            nzPopoverContent="This is the three digit code referring to the CRS codes, another way to understand what the indicator is related to."
            nzWidth="10%"
            nzBreakWord
            nzShowFilter
            [nzFilters]="searchFilter.crsCode"
            [nzFilterFn]="filterCRSCode"
          >
            OECD DAC/CRS Code
          </th>
          <th
            nzShowSort
            nzShowFilter
            nzColumnKey="sdgCode"
            nz-popover
            nzPopoverTitle="SDG Code"
            nzPopoverContent="This is in relations to the 17 SDGs."
            nzWidth="10%"
            nzShowFilter
            [nzFilters]="searchFilter.sdgCode"
            [nzFilterFn]="filterSDGCode"
          >
            SDG Code
          </th>
          <th
            nz-popover
            nzPopoverTitle="Keyword frequency"
            nzPopoverContent="The number of times the document triggers the keywords of each indicator. Ideally you do not want to use indicators with a keyword frequency of less than 10."
            nzWidth="10%"
            *ngIf="showKeywordCol"
          >
            Keyword Frequency
            <nz-slider
              (nzOnAfterChange)="onAfterChange($event)"
              [nzTooltipVisible]="'default'"
              [nzRange]="true"
              [nzMin]="sliderMinValue"
              [nzMax]="sliderMaxValue"
              [ngModel]="[10, sliderMaxValue]"
            ></nz-slider>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="dynamicTable.data">
          <tr
            (click)="selectindicator(data.sort_id)"
            [class.row-checked]="mapOfCheckedId[data.sort_id]"
          >
          <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>

          <td
              nzShowCheckbox
              [(nzChecked)]="mapOfCheckedId[data.sort_id]"
              (nzCheckedChange)="refreshStatus()"
            ></td>
            <td>
              <nz-tag [nzColor]="data.indicator.color"
                >{{ data.indicator.level }}
              </nz-tag>
            </td>
            <td>{{ data.indicator.name }}</td>
            <td>{{ printArray(data.indicator.source, 'name') }}</td>
            <td style="text-align: center;">
              <div style="text-align: center;">
                <i
                  *ngIf="!data.indicator.disaggregation"
                  style="font-size: 25px; color: rgb(216, 126, 126);"
                  nz-icon
                  nzType="close"
                  nzTheme="outline"
                ></i>
                <i
                  *ngIf="data.indicator.disaggregation"
                  style="font-size: 25px; color: #a5c2ae;"
                  nz-icon
                  nzType="check"
                  nzTheme="outline"
                ></i>
              </div>
            </td>
            <td>{{ data.indicator.sector }}</td>
            <td>{{ printArray(data.indicator.crsCode, 'name') }}</td>
            <td title="{{printArray(data.indicator.sdgCode, 'name')}}" nzEllipsis>{{ printArray(data.indicator.sdgCode, 'name') }}</td>
            <td *ngIf="showKeywordCol">{{ data.indicator.numTimes }}</td>
          </tr>
          <tr [nzExpand]="expandSet.has(data.id)">
            <span>Country: </span>
            <nz-select nzShowSearch nzAllowClear (ngModelChange)="ngModelCountryChange(data, $event)" nzPlaceHolder="Select a country" [(ngModel)]="data.countryCodeSelected">
              <nz-option *ngFor="let country of countriesList" nzLabel="{{country.lable}}" nzValue="{{country.code}}"></nz-option>
            </nz-select>
            <span>Year: </span>
            <nz-year-picker (ngModelChange)="ngModelYearChange(data, $event)" [nzDisabledDate]="disabledDate" [(ngModel)]="data.yearSelected" nzPlaceHolder="Select year"></nz-year-picker>
            <span>Baseline value: </span>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
  </div>
</div>
