.row-checked {
  background-color: #A5C2AE;
}
.indicatorContent{
  background-color: rgba(242, 242, 242, 0.7);
  //border: .25rem dashed #C6C6C5;
}
.warning{
  position: relative;
  width: 100%;
  z-index: 100;
}
