div {
    flex-direction: column;
    display: inline-flex;
}

h1 {
    font-size: 20vw;
    text-align: center;
}
h3 {
    text-align: center;
}
.shadow {
    color: #453457;
    // font-family: Arvo;
    font-weight: bold;
    text-shadow:
      -3px -3px 0 #fff,
      3px -3px 0 #fff,
      -3px 3px 0 #fff,
      3px 3px 0 #fff,
      4px 4px 0 #222,
      5px 5px 0 #222,
      6px 6px 0 #222,
      7px 7px 0 #222;
    line-height: 0.8em;
    letter-spacing: 0.1em;
    transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
    -moz-transform: scaleY(0.7);
    margin:0;
    text-align: center;
}