<div nz-col nzSpan="22" nzOffset="1">
  <div nz-col style="margin-bottom: 30px; margin-top: 50px;">
    <div nz-row>
      <button nz-button nzType="primary" [disabled]="checkedIds.size === 0"
              style="margin-right: 10px;" (click)="approveSelected()"><i nz-icon nzType="check"></i>
        Approve selected
      </button>
      <button nz-button nzType="danger" [disabled]="checkedIds.size === 0"
              (click)="disapproveSelected()"><i nz-icon nzType="close"></i>
        Disapprove selected
      </button>

      <button nz-button (click)="fetchByFilters()" nzType="link" nzSize="default"
              style="position: absolute; right: 0;">Filter
      </button>
    </div>
  </div>
  <nz-table #indicators nzShowSizeChanger nzBordered [nzData]="indicatorList"
            [nzFrontPagination]="false"
            [nzLoading]="isLoading" [nzTotal]="totalRowCount" [(nzPageIndex)]="page"
            [(nzPageSize)]="pageSize" (nzPageSizeChange)="search(true, true)"
            (nzPageIndexChange)="search(false, true)" nzSize="small">
    <thead>
    <tr>
      <th [nzChecked]="allChecked" [nzIndeterminate]="someChecked"
          (nzCheckedChange)="updateAllChecked($event)"></th>
      <th nzShowFilter [nzFilters]="crsCodeFilter"
          (nzFilterChange)="addFilter('crsCode', $event)">
        CRS Code
      </th>
      <th>Data Source</th>
      <th>Description</th>
      <th>Disaggregation</th>
      <th>Keywords</th>
      <th>Name</th>
      <th nzShowFilter [nzFilters]="sdgCodeFilter" (nzFilterChange)="addFilter('sdgCode', $event)">
        SDG Code
      </th>
      <th nzShowFilter [nzFilters]="sourceFilter" (nzFilterChange)="addFilter('source', $event)">
        Source
      </th>
      <th>Source Verification</th>
      <th nzShowFilter [nzFilters]="sectorFilter" (nzFilterChange)="addFilter('sector', $event)">
        Sector
      </th>
      <th nzShowFilter [nzFilters]="levelFilter" (nzFilterChange)="addFilter('levelIds', $event)">
        Level
      </th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let ind of indicators.data">
      <td [nzChecked]="checkedIds.has(ind.id)" (nzCheckedChange)="select(ind.id, $event)"></td>
      <td>{{ind.crsCode}}</td>
      <td>{{ind.dataSource}}</td>
      <td>{{ind.description}}</td>
      <td>{{ind.disaggregation}}</td>
      <td>{{ind.keywords}}</td>
      <td>{{ind.name}}</td>
      <td>{{ind.sdgCode}}</td>
      <td>{{ind.source}}</td>
      <td>{{ind.sourceVerification}}</td>
      <td>{{ind.sector}}</td>
      <td>{{ind.level.name}}</td>
    </tr>
    </tbody>
  </nz-table>
</div>
