.flex-container {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.flex-container > div {
  width: 20%;
  margin: 10px;
  text-align: left;
}

.flex-container nz-select {
  width: 100%;
}
