<div style="margin:50px;">
  <div class="flex-container">
    <div>
      <label>Themes:</label><br>
      <nz-select
        nzMode="multiple"
        (ngModelChange)="onChangeFilter('themes', $event)"
        nzPlaceHolder="Filter by themes"
        [(ngModel)]="selectedValues.themes">
        <nz-option *ngFor="let option of filterOptions.themes" [nzLabel]="option" [nzValue]="option"
                   [nzHide]="!isNotSelected(selectedValues.themes, option)"></nz-option>
      </nz-select>
    </div>
    <div>
      <label>Sources:</label><br>
      <nz-select nzMode="multiple" nzPlaceHolder="Filter by sources" [(ngModel)]="selectedValues.source"
                 (ngModelChange)="onChangeFilter('source', $event)">
        <nz-option *ngFor="let option of filterOptions.source" [nzLabel]="option" [nzValue]="option"
                   [nzHide]="!isNotSelected(selectedValues.source, option)"></nz-option>
      </nz-select>
    </div>
    <div>
      <label>SDGs:</label><br>
      <nz-select nzMode="multiple" nzPlaceHolder="Filter by SDGs" [(ngModel)]="selectedValues.sdg_code"
                 (ngModelChange)="onChangeFilter('sdg_code', $event)">
        <nz-option *ngFor="let option of filterOptions.sdg_code" [nzLabel]="option" [nzValue]="option"
                   [nzHide]="!isNotSelected(selectedValues.sdg_code, option)"></nz-option>
      </nz-select>
    </div>
    <div>
      <label>Levels:</label><br>
      <nz-select nzMode="multiple" nzPlaceHolder="Filter by levels" [(ngModel)]="selectedValues.level"
                 (ngModelChange)="onChangeFilter('level', $event)">
        <nz-option *ngFor="let option of filterOptions.level" [nzLabel]="option.name" [nzValue]="option"
                   [nzHide]="!isNotSelected(selectedValues.level, option)"></nz-option>
      </nz-select>
    </div>
    <div>
      <label>DACs:</label><br>
      <nz-select nzMode="multiple" nzPlaceHolder="Filter by DACs" [(ngModel)]="selectedValues.crs_code"
                 (ngModelChange)="onChangeFilter('crs_code', $event)">
        <nz-option *ngFor="let option of filterOptions.crs_code" [nzLabel]="option" [nzValue]="option"
                   [nzHide]="!isNotSelected(selectedValues.crs_code, option)"></nz-option>
      </nz-select>
    </div>
  </div>
</div>
