.login-button {
  width: 100%;
}

.login-form {
  width: max-content;
  border: 0.5px solid #663399;
  margin-top: 50px;
  border-radius: 5px;
  padding: 10% 10% 2%;
}

#disclaimer {
  padding: 25px;
  border-radius: 5px;
  // background-color: #C6C6C5;
  background-color: rgba(242, 242, 242, 0.7);
  bottom: 50px;
}

#homeButton {
  left: 45%;
}