<div nz-col [nzSpan]="6" [nzOffset]="8">
  <form nz-form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()" class="login-form">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="user">
          <input formControlName="username" nz-input name="username" type="text" id="username"
                 placeholder="Username" required>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="lock">
          <input formControlName="password" nz-input name="password" type="password" id="password"
                 placeholder="Password" required>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="!loginForm.valid" class="login-button default-button" type="submit">Login</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
<br/>
<br/><br/>
<div id="disclaimer">
  You probably have clicked here by accident. You won't need to login to use Logframe Lab.
  <br/>
  This section is for us internally to ensure the smooth running of the web application and access our indicator database.
</div>
<br/>
<div>
  <button nz-button nzType="primary" class="default-button" routerLink="/" id="homeButton">Home</button>
</div>
