nz-header,
nz-content,
nz-footer {
  background-color: white;
  color: #000000;
}
nz-header {
border-bottom-style: solid;
border-bottom-color: #e8e8e8;
border-bottom-width: 1px;
}
nz-footer {
  padding: 10px;
  border-top-style: solid;
  border-top-color: #e8e8e8;
  border-top-width: 1px;
  color: white;
  background-color: #ffffff;

}
nz-layout {
  min-height: 100%;
}
