<ngx-spinner bdColor="rgb(246, 248, 250, 0.50)" size="medium" color="rgba(69,52,87,1)" type="ball-clip-rotate-multiple" [fullScreen]="true"></ngx-spinner>
<div class="content-layout">
<nz-layout>
  <ul nz-menu nzMode="horizontal" class="nz-header">
    <li nz-menu-item>
      <a style="color: black;" routerLink="/" routerLinkActive="active">
        <img src="assets/logo-11-1.png" alt="Logframe Lab Logo"/>
      </a>
    </li>
    <app-profile></app-profile>
  </ul>
  <nz-content>
   
      <router-outlet></router-outlet>
  
  </nz-content>
  <nz-footer>
    <div>
      <br/>
      <img src="assets/arqaam-13 1.png" alt=""/><br/>
      <a routerLink="/terms">Terms Of Use </a><br/>
      <a routerLink="/dataprotection">Data Protection Declaration</a><br/>
      <a routerLink="/imprint">Imprint</a><br/><br/>
    </div>
    <div style="height: 28px; background-color: #222222;">
      <a
        style="line-height: 28px;"
        href="http://arqaam.org"
        target="_blank"
      >
        Logframe Lab ©2020 developed by Arqaam GmbH
      </a>
    </div>
  </nz-footer>
</nz-layout>
</div>
<app-pop></app-pop>