nz-header,
nz-content,
nz-footer {
  background-color: white;
  color: black;
  display: block !important;
}
nz-header {
border-bottom-style: solid;
border-bottom-color: #e8e8e8;
border-bottom-width: 1px;
}
nz-footer {
  border-top-style: solid;
  border-top-color: #e8e8e8;
  border-top-width: 1px;
  color: white;
  background-color: #630060;
  a {
    color: white;
  }
}
nz-layout {
  min-height: 100%;
}
