<div class="add-means-container">
  <div>
    <label>
      <textarea rows="3" placeholder="Political Means" nz-input [(ngModel)]="this.activitiesService.politicalMeans" ></textarea>
    </label>
  </div>
  <div>
    <label>
      <textarea rows="3" placeholder="Technical Means" nz-input [(ngModel)]="this.activitiesService.technicalMeans" ></textarea>
    </label>
  </div>
  <div>
    <label>
      <textarea rows="3" placeholder="Financial Means" nz-input [(ngModel)]="this.activitiesService.financialMeans" ></textarea>
    </label>
  </div>
  <div>
    <label>
      <textarea rows="3" placeholder="Material Means" nz-input [(ngModel)]="this.activitiesService.materialMeans" ></textarea>
    </label>
  </div>
  <div>
    <label>
      <textarea rows="3" placeholder="Human Means" nz-input [(ngModel)]="this.activitiesService.humanMeans" ></textarea>
    </label>
  </div>
</div>
