.ant-progress {
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
}
.progressComponent{
  padding: 16px 0;
  padding: 2rem 6rem;
  background-color: rgba(242, 242, 242, 0.7);
  border: .25rem dashed #C6C6C5;
}
