<ul style="width: 450px;">
  <ng-template [ngIf]="isIndicatorAdmin()">
    <li nz-menu-item><a routerLink="/manage-indicators"></a><i nz-icon nzType="table" nzTheme="outline"></i>Manage indicators</li>
  </ng-template>
  <ng-template [ngIf]="isIndicatorAdmin()">
    <li nz-menu-item><a routerLink="/manage-indicators/approve-uploaded"></a><i nz-icon nzType="carry-out" nzTheme="outline"></i>Approve indicators</li>
  </ng-template>
  <ng-template [ngIf]="isSecAdmin()">
    <li nz-menu-item><a routerLink="/user-management"><i nz-icon nzType="lock" nzTheme="outline"></i>Manage users</a>
    </li>
  </ng-template>
  <li nz-menu-item><a (click)="logout()"><i nz-icon nzType="logout"></i>Logout</a></li>
</ul>
