.disclaimer{
    width: 60%;
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    border: 2px solid #1890ff;
    max-height: 9rem;
    overflow-x: hidden;
    overflow-y: auto;
}
.disclaimerText{
    text-align: left;
    padding: .2rem;
    
}