<div class="uploadArea">
  <nz-upload
  nzType="drag"
  [nzMultiple]="false"
  nzAccept=".doc,.docx"
  [nzLimit]="1"
  [nzSize]="25000"
  [(nzFileList)]="fileList"
  [nzBeforeUpload]="beforeUpload"
  [nzShowUploadList]="false"
>
  <div class="uploadText">
    <i class = "uploadIcon" nz-icon nzType="folder" nzTheme="outline"></i>
    <p class="ant-upload-text">Click to this area to upload</p><!--Removed from end: "Word document"-->
    <p class="ant-upload-hint">
      Support for a single word file upload.
    </p>
    <p>{{ fileName }}</p>
    <div class="disclaimer">
      <p class="disclaimerText"><!--Disclaimer text added here-->
        <b>Disclaimer:</b> Uploading data here is safe. You can trust us with your info, because we never save it
        anywhere. The algorithm uses your text to scan for keywords and retains access to it only so you can complete the procedure.
        Your data is discarded as soon as you click ‘done’ in the 6th step, or if you refresh the window before you’re done.
        We cannot access your information at any point.
      </p>
    </div>
  </div>

</nz-upload>
</div>