/* You can add global styles to this file, and also import other style files */
app-selectdocument {
  .ant-upload.ant-upload-drag .ant-upload-btn{
   // min-height: 300px !important;
  }
  .ng-star-inserted.ant-upload.ant-upload-drag {
    height: unset !important;
  }
  .uploadArea{
    position: static !important;
    height: auto !important;
  }
}

app-indicator {
  display: inline-flex;
}
@media only screen and (max-width: 44.5rem) {
  app-indicator  {
    display: block;
  }
  .ant-steps-horizontal.ant-steps-label-horizontal {
    display: grid;
}
}
.content-section {
  margin-top: 4rem !important;
}

.ant-steps{
  display:block;
}

.ant-steps-item-container {
padding-bottom: .5rem;
}

// @media (max-width: 480px){
// .ant-steps-horizontal.ant-steps-label-horizontal {
//     display: block;
// }
// }
