<div class="content-section">
  <nz-steps [nzCurrent]="current">
    <nz-step nzTitle="SELECT"></nz-step>
    <nz-step nzTitle="FILTERS"></nz-step>
    <nz-step nzTitle="PROGRESS"></nz-step>
    <nz-step nzTitle="RESULT"></nz-step>
    <nz-step nzTitle="VISUALISATION"></nz-step>
    <nz-step nzTitle="DOWNLOAD"></nz-step>
  </nz-steps>
  <div class="steps-action">
    <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
      <span>Previous</span>
    </button>
    <button
      [(disabled)]="!isNext"
      nz-button
      nzType="default"
      (click)="next()"
      *ngIf="current < 5"
    >
      <span>Next</span>
    </button>
    <button nz-button nzType="primary" (click)="done()" *ngIf="current === 5">
      <span>Done</span>
    </button>
  </div>
</div>
