<div class="content-section">
  <nz-steps [nzCurrent]="current">
    <nz-step nzTitle="SELECT"></nz-step>
    <nz-step nzTitle="FILTERS"></nz-step>
    <nz-step nzTitle="PROGRESS"></nz-step>
    <nz-step nzTitle="RESULT"></nz-step>
    <nz-step nzTitle="VISUALISATION"></nz-step>
    <nz-step nzTitle="DOWNLOAD"></nz-step>
  </nz-steps>
  <div class="steps-action">
    <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
      <span>Previous</span>
    </button>
    <button [(disabled)]="!isNext" nz-button nzType="default" (click)="next()" *ngIf="current < 5">
      <span>Next</span>
    </button>
    <button nz-button nzType="primary" (click)="done()" *ngIf="current === 5">
      <span>Done</span>
    </button>
  </div>
  <div class="steps-content">
    <app-selectdocument *ngIf="current === 0">
    </app-selectdocument>
    <app-indicatorfilters *ngIf="current === 1">
    </app-indicatorfilters>
    <app-scandocument *ngIf="current === 2">
    </app-scandocument>
    <app-scanresult *ngIf="current === 3">
    </app-scanresult>
    <app-visualisationresult *ngIf="current === 4">
    </app-visualisationresult>
    <app-downloadresult *ngIf="current === 5">
    </app-downloadresult>
  </div>
</div>
